# name: Standard CI 
# # Trigger 
# on: push 
# jobs:
#   build-test:
#       name: Build test and deploy 
#       runs-on: ubuntu@latest 

#       steps: 
#         - name: Checkout latest code 
#           uses: actions/checkout@v2 

#         - name: Setup Nodejs 
#           uses: actions/setup-node@v2 
#           with: 
#             node-version: '14'

#         - name: Run lint 
#           run: npm run lint

#         - name: Run buid 
#           run: npm run build 

#         - name: Run tests 
#           run: npm test

#         - name: Run deploy
#           run: npm run deploy  







name: Standard CI

on: push

jobs:
  lint:
    name: Run Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout latest code
        uses: actions/checkout@v3

      - name: Setup Nodejs
        uses: actions/setup-node@v3
        with:
          node-version: '14'

      - name: Install dependencies
        run: npm install

      - name: Run lint
        run: npm run lint

  build:
    name: Run Build
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Checkout latest code
        uses: actions/checkout@v3

      - name: Setup Nodejs
        uses: actions/setup-node@v3
        with:
          node-version: '14'

      - name: Install dependencies
        run: npm install

      - name: Run build
        run: npm run build

  test:
    name: Run Tests
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout latest code
        uses: actions/checkout@v3

      - name: Setup Nodejs
        uses: actions/setup-node@v3
        with:
          node-version: '14'

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm run test

  deploy:
    name: Run Deploy
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout latest code
        uses: actions/checkout@v3

      - name: Setup Nodejs
        uses: actions/setup-node@v3
        with:
          node-version: '14'

      - name: Install dependencies
        run: npm install

      - name: Run deploy
        run: npm run deploy